<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- Вызываем парциальный шаблон _cart.html.erb, который в свою очередь вызывает  парциальный шаблон _line_item.html.erb-->
<%= render(@cart) %>