/
/ Функци render отрисует парциал app/views/carts/_cart.html.erb
/ Rails найдет нужный парциал по имени переданной методу render переменной (@cart)
/ Файл парциала должен быть такого формата _имя_переменной.html.erb

= render(@cart)
